<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!--  The smallest CLM that will color keywords.
      Copyright (c) 2012 Bare Bones Software, Inc. -->
		
<dict>
	<!-- You must identify the plist as a CLM: -->
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	
	<!-- You must identify your language: -->
	<key>BBLMLanguageDisplayName</key>  <string>Filemaker</string>
	<key>BBLMScansFunctions</key> 
	<true/> 
	<key>BBLMSuffixMap</key> 
	<array> 
		<dict> 
			<key>BBLMLanguageSuffix</key> 
			<string><![CDATA[.fmfn]]></string> 
		</dict> 
	</array> 
	<key>BBLMLanguageCode</key>         <string>FMFN</string>
	
	<!-- Not required, but there’s not much point to
	     a language module if it doesn’t color syntax: -->
	<key>BBLMColorsSyntax</key>         <true/>
	
	<!-- Specify some keywords. This isn’t required, either,
             but it provides something to color: -->
	<key>BBLMKeywordList</key>
	<array>
		<string>Average</string>
		<string>Count</string>
		<string>List</string>
		<string>Max</string>
		<string>Min</string>
		<string>StDev</string>
		<string>StDevP</string>
		<string>Sum</string>
		<string>Variance</string>
		<string>VarianceP</string>
		<string>GetHeight</string>
		<string>GetThumbnail</string>
		<string>GetWidth</string>
		<string>VerifyContainer</string>
		<string>Date</string>
		<string>Day</string>
		<string>DayName</string>
		<string>DayNameJ</string>
		<string>DayOfWeek</string>
		<string>DayOfYear</string>
		<string>Month</string>
		<string>MonthName</string>
		<string>MonthNameJ</string>
		<string>WeekOfYear</string>
		<string>WeekOfYearFiscal</string>
		<string>Year</string>
		<string>YearName</string>
		<string>DatabaseNames</string>
		<string>FieldBounds</string>
		<string>FieldComment</string>
		<string>FieldIDs</string>
		<string>FieldNames</string>
		<string>FieldRepetitions</string>
		<string>FieldStyle</string>
		<string>FieldType</string>
		<string>GetNextSerialValue</string>
		<string>LayoutIDs</string>
		<string>LayoutNames</string>
		<string>LayoutObjectNames</string>
		<string>RelationInfo</string>
		<string>ScriptIDs</string>
		<string>ScriptNames</string>
		<string>TableIDs</string>
		<string>TableNames</string>
		<string>ValueListIDs</string>
		<string>ValueListItems</string>
		<string>ValueListNames</string>
		<string>WindowNames</string>
		<string>External</string>
		<string>FV</string>
		<string>NPV</string>
		<string>PMT</string>
		<string>PV</string>
		<string>Get(AccountExtendedPrivileges)</string>
		<string>Get(AccountPrivilegeSetName)</string>
		<string>Get(AccountName)</string>
		<string>Get(ActiveFieldContents)</string>
		<string>Get(ActiveFieldName)</string>
		<string>Get(ActiveLayoutObjectName)</string>
		<string>Get(ActivePortalRowNumber)</string>
		<string>Get(ActiveFieldTableName)</string>
		<string>Get(ActiveModifierKeys)</string>
		<string>Get(ActiveRepetitionNumber)</string>
		<string>Get(ActiveSelectionSize)</string>
		<string>Get(ActiveSelectionStart)</string>
		<string>Get(AllowAbortState)</string>
		<string>Get(AllowFormattingbarState)</string>
		<string>Get(AllowToolbarState)</string>
		<string>Get(ApplicationLanguage)</string>
		<string>Get(ApplicationVersion)</string>
		<string>Get(CalculationRepetitionNumber)</string>
		<string>Get(ConnectionState)</string>
		<string>Get(CurrentDate)</string>
		<string>Get(CurrentExtendedPrivileges)</string>
		<string>Get(CurrentHostTimestamp)</string>
		<string>Get(CurrentPrivilegeSetName) </string>
		<string>Get(CurrentTime)</string>
		<string>Get(CurrentTimestamp)</string>
		<string>Get(CustomMenuSetName) </string>
		<string>Get(DesktopPath)</string>
		<string>Get(DocumentsPath)</string>
		<string>Get(DocumentsPathListing) </string>
		<string>Get(ErrorCaptureState)</string>
		<string>Get(FilemakerPath)</string>
		<string>Get(FileName)</string>
		<string>Get(FilePath)</string>
		<string>Get(FileSize)</string>
		<string>Get(FoundCount)</string>
		<string>Get(HighContrastColor)</string>
		<string>Get(HighContrastState) </string>
		<string>Get(HostApplicationVersion)</string>
		<string>Get(HostIPAddress) </string>
		<string>Get(HostName) </string>
		<string>Get(InstalledFMPlugins)</string>
		<string>Get(LastError)</string>
		<string>Get(LastMessageChoice)</string>
		<string>Get(LastODBCError)</string>
		<string>Get(LayoutAccess)</string>
		<string>Get(LayoutCount)</string>
		<string>Get(LayoutName)</string>
		<string>Get(LayoutNumber)</string>
		<string>Get(LayoutTableName)</string>
		<string>Get(LayoutViewState) </string>
		<string>Get(MultiUserState) </string>
		<string>Get(NetworkProtocol)</string>
		<string>Get(PageNumber)</string>
		<string>Get(PersistentID) </string>
		<string>Get(PreferencesPath) </string>
		<string>Get(PrinterName) </string>
		<string>Get(QuickFindText)</string>
		<string>Get(RecordAccess) </string>
		<string>Get(RecordID) </string>
		<string>Get(RecordModificationCount) </string>
		<string>Get(RecordNumber)</string>
		<string>Get(RecordOpenCount) </string>
		<string>Get(RecordOpenState) </string>
		<string>Get(RequestCount) </string>
		<string>Get(RequestOmitState)</string>
		<string>Get(ScreenDepth) </string>
		<string>Get(ScreenHeight) </string>
		<string>Get(ScreenWidth) </string>
		<string>Get(ScriptName) </string>
		<string>Get(ScriptParameter)</string>
		<string>Get(ScriptResult) </string>
		<string>Get(SortState) </string>
		<string>Get(StatusAreaState) </string>
		<string>Get(SystemDrive)</string>
		<string>Get(SystemIPAddress) </string>
		<string>Get(SystemLanguage)</string>
		<string>Get(SystemNICAddress)</string>
		<string>Get(SystemPlatform) </string>
		<string>Get(SystemVersion) </string>
		<string>Get(TemporaryPath)</string>
		<string>Get(TextRulerVisible) </string>
		<string>Get(TotalRecordCount) </string>
		<string>Get(TriggerCurrentTabPanel)</string>
		<string>Get(TriggerKeystroke) </string>
		<string>Get(TriggerModifierKeys) </string>
		<string>Get(TriggerTargetTabPanel)</string>
		<string>Get(UserCount) </string>
		<string>Get(UserName) </string>
		<string>Get(UseSystemFormatsState) </string>
		<string>Get(UUID) </string>
		<string>Get(WindowContentHeight) </string>
		<string>Get(WindowContentWidth)</string>
		<string>Get(WindowDesktopHeight) </string>
		<string>Get(WindowDesktopWidth) </string>
		<string>Get(WindowHeight) </string>
		<string>Get(WindowLeft) </string>
		<string>Get(WindowMode) </string>
		<string>Get(WindowName) </string>
		<string>Get(WindowTop)</string>
		<string>Get(WindowVisible) </string>
		<string>Get(WindowWidth) </string>
		<string>Get(WindowZoomLevel) </string>
		<string>Case</string>
		<string>Choose</string>
		<string>Evaluate</string>
		<string>EvaluationError</string>
		<string>ExecuteSQL</string>
		<string>GetAsBoolean</string>
		<string>GetField</string>
		<string>GetFieldName</string>
		<string>GetLayoutObjectAttribute</string>
		<string>GenNthRecord</string>
		<string>If</string>
		<string>IsEmpty</string>
		<string>IsValid</string>
		<string>IsValidExpression</string>
		<string>Let</string>
		<string>Lookup</string>
		<string>LookupNext</string>
		<string>Self</string>
		<string>Location</string>
		<string>LocationValues</string>
		<string>Abs</string>
		<string>Ceiling</string>
		<string>Combination</string>
		<string>Div</string>
		<string>Exp</string>
		<string>Factorial</string>
		<string>Floor</string>
		<string>Int</string>
		<string>Lg</string>
		<string>Ln</string>
		<string>Log</string>
		<string>Mod</string>
		<string>Random</string>
		<string>Round</string>
		<string>SetPrecision</string>
		<string>Sign</string>
		<string>Sqrt</string>
		<string>Truncate</string>
		<string>Extend</string>
		<string>GetRepetition</string>
		<string>Last</string>
		<string>GetSummary</string>
		<string>Char</string>
		<string>Code</string>
		<string>Exact</string>
		<string>Filter</string>
		<string>FilterValues</string>
		<string>GetAsCSS</string>
		<string>GetAsDate</string>
		<string>GetAsNumber</string>
		<string>GetAsSVG</string>
		<string>GetAsText</string>
		<string>GetAsTime</string>
		<string>GetAsTimestamp</string>
		<string>GetAsURLEncoded</string>
		<string>GetValue</string>
		<string>Hiragana</string>
		<string>KanaHankaku</string>
		<string>KanaZenkaku</string>
		<string>KanjiNumeral</string>
		<string>Katakana</string>
		<string>Left</string>
		<string>LeftValues</string>
		<string>LeftWords</string>
		<string>Length</string>
		<string>Lower</string>
		<string>Middle</string>
		<string>MiddleValues</string>
		<string>MiddleWords</string>
		<string>NumToJText</string>
		<string>PatternCount</string>
		<string>Position</string>
		<string>Proper</string>
		<string>Quote</string>
		<string>Replace</string>
		<string>Right</string>
		<string>RightValues</string>
		<string>RightWords</string>
		<string>RomanHankaku</string>
		<string>RomanZenkaku</string>
		<string>SerialIncrement</string>
		<string>Substitute</string>
		<string>Trim</string>
		<string>TrimAll</string>
		<string>Upper</string>
		<string>ValueCount</string>
		<string>WordCount</string>
		<string>RGB</string>
		<string>TextColor</string>
		<string>TextColorRemove</string>
		<string>TextFont</string>
		<string>TextFontRemove</string>
		<string>TextFormatRemove</string>
		<string>TextSize</string>
		<string>TextSizeRemove</string>
		<string>TextStyleAdd</string>
		<string>TextStyleRemove</string>
		<string>Hour</string>
		<string>Minute</string>
		<string>Seconds</string>
		<string>Time</string>
		<string>Timestamp</string>
		<string>Acos</string>
		<string>Asin</string>
		<string>Atan</string>
		<string>Cos</string>
		<string>Degrees</string>
		<string>Pi</string>
		<string>Radians</string>
		<string>Sin</string>
		<string>Tan</string>
	</array>
	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>*.fmfn</string>
	</array>
	
	<!-- Specify a comment-out string: -->
	<key>BBLMCommentLineDefault</key>   <string>#</string>
	
	<!-- You must specify the character set for
             keywords and identifiers. Substitute your own:  -->
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\?!</string>
		<key>Open Block Comments</key>      <string>/*</string>
		<key>Close Block Comments</key>     <string>*/</string>
		<key>Open Line Comments</key>       <string>#</string>
		<key>Open Line Comments</key>       <string>//</string>
		<key>Open Strings 1</key>           <string>"</string>
		<key>Close Strings 1</key>          <string>"</string>
		<key>Escape Char in Strings 1</key> <string>\</string>
		<key>End-of-line Ends Strings 1</key>   <false/>
		<key>Open Statement Blocks</key>    <string>(</string>
		<key>Close Statement Blocks</key>   <string>)</string>
		<key>Open Statement Blocks</key>    <string>[</string>
		<key>Close Statement Blocks</key>   <string>]</string>
	</dict> 
</dict>
</plist>